page-home {
    .btn-scan{
        width: 100%;
    }

    .btn-attendace {
        width: 80%;
        margin: 0 auto;
    }
    .header {
        margin-bottom: 50px;
        text-align: center
    }
    .emp-name {
        font-size: 20px;
    }
}
.button-md-secondary {
    color: #fff;
    background-color: #32db64;
    width: 100%;
}